
@media screen and (min-width: 360px) and (max-width: 640px) {

    body{
        display: block;
    }

    main {
        display: block;
        width: 480px;
        background-color: orange;
    }

    ul > li > img{
        border-radius: 50%;
    }
      
    }
    
}