@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div > h1 {
    text-align: center;
    padding: 5px;
    font-size: 25px;
    margin: auto;
}

p {
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding: 10px;
}

body , html {
    background-color: rgba(244, 173, 81, 0.449);
    margin: 10px;
}

main {
    padding: 10px;
    margin: 5px;
}

div {
    width: auto;
    padding: 10px;
    display: inline-block
}

fieldset {
    border: 2px solid rgba(28, 28, 170, 0.64);
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: auto;
}

div#enviar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

a {
    background-color: rgba(28, 28, 170, 0.64);
    color: black;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    display: block; 
}

    



